<section class="information">
    <div class="container">
        <div class="row introduce-user">
            <div class="column hello-world">    
                <h2 class="introduce text-4xl">Hi, I am <span>Dungnv</span>,<br><span>Front-end Developer</span></h2>
                <p class="description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <button routerLink="/signin" class="btn btn-view">Sign in with Dungnv</button>
            </div>
            <div class="column avatar">
                <img class="img-user img-fluid" src="https://picsum.photos/300/300" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end information  -->
<section class="recent-post">
    <div class="container">
        <div class="row_view">
            <div class="recent-post-view"><span>Recent post</span></div>
            <div class="view-all"><span>View all</span></div>
        </div>
        <div class="row post">
            <div class="column post">
                <h2 class="title-post">Making a design system from scratch</h2>
                <div class="row_infor-post">
                    <div class="column item-infor-post">
                        <span class="createAt-post">12 Feb 2020</span>
                    </div>
                    <div class="item-infor-post mid">|</div>
                    <div class="column item-infor-post">
                        <span class="roleIn-post">Design intern</span>
                    </div>
                </div>
                <div>
                    <p class="short-desc-post">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                        nostrud amet.
                    </p>
                </div>
            </div>
            <div class="column post">
                <h2 class="title-post">Making a design system from scratch</h2>
                <div class="row_infor-post">
                    <div class="column item-infor-post">
                        <span class="createAt-post">12 Feb 2020</span>
                    </div>
                    <div class="item-infor-post mid">|</div>
                    <div class="column item-infor-post">
                        <span class="roleIn-post">Design intern</span>
                    </div>
                </div>
                <div>
                    <p class="short-desc-post">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                        nostrud amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end recent-post  -->
<section class="featured-works">
    <div class="container">
        <div class="row works"><span>Featured works</span></div>
        <div class="row feat-w">
            <div class="column one-feat-w">
                <div class="img-feat">
                    <img src="https://picsum.photos/300/300" class="img-works img-fluid" alt="">
                </div>
                <div class="column text">
                    <h2 class="title-works">designing dashboards</h2>
                    <div class="row-date-role">
                        <div class="column left"><span class="btn date-works">2020</span></div>
                        <div class="column right"><span>Dashboards</span></div>
                    </div>
                    <div class="short-desc">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
            </div>
        </div>
        <div class="row feat-w">
            <div class="column one-feat-w">
                <div class="img-feat">
                    <img src="https://picsum.photos/300/300" class="img-works img-fluid" alt="">
                </div>
                <div class="column text">
                    <h2 class="title-works">designing dashboards</h2>
                    <div class="row-date-role">
                        <div class="column left"><span class="btn date-works">2020</span></div>
                        <div class="column right"><span>Dashboards</span></div>
                    </div>
                    <div class="short-desc">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
            </div>
        </div>
        <div class="row feat-w">
            <div class="column one-feat-w">
                <div class="img-feat">
                    <img src="https://picsum.photos/300/300" class="img-works img-fluid" alt="">
                </div>
                <div class="column text">
                    <h2 class="title-works">designing dashboards</h2>
                    <div class="row-date-role">
                        <div class="column left"><span class="btn date-works">2020</span></div>
                        <div class="column right"><span>Dashboards</span></div>
                    </div>
                    <div class="short-desc">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end featured-works  -->